<div class="vendor-list">
  {{#each vendors}}
  <div class="vendor-item" data-vendor-id="{{id}}">
    <div>
      {{#if image}}
      <div class="vendor-thumbnail">
        <img src="{{image}}" alt="{{name}}">
      </div>
      {{/if}}
      <strong class="boi-destaque-forte">{{name}}</strong>
      <br>
      <small class="boi-destaque">{{items.length}} items</small>
      <br>
      <span class="vendor-status {{#if active}}active{{else}}inactive{{/if}}">
        {{#if active}}Active{{else}}Inactive{{/if}}
      </span>
    </div>
    <div class="vendor-actions">
      <button type="button" class="primary boi" data-action="view">View</button>
      <button type="button" class="secondary boi" data-action="edit">Edit</button>
      <button type="button" class="secondary boi" data-action="toggle">
        {{#if active}}Deactivate{{else}}Activate{{/if}}
      </button>
      <button type="button" class="secondary boi" data-action="delete">Delete</button>
    </div>
  </div>
  {{/each}}
  
  {{#unless vendors}}
  <p>No vendors created yet.</p>
  {{/unless}}
</div>
